body{
    background-color: #fff;
}
/*testimonial section style*/
#endorsement1 .row {
    margin-left: 15%;
}
@media(max-width:576px) {
    #endorsement1 .row {
    margin-left:50%;
    
}
#endorsement1 .col-sm-12 {
    padding: 10px;
}